*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    background $verdebg

::selection
    background $verdeclaro
    color #fff

::-moz-selection
    background $verdeclaro
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

body
    &:after
        content $img('seta-menu.png') $img('seta-menu2.png') // preload images
        display none