// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 680px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$verdeclaro  = #2B828B
$verdeescuro = #1A4F57
$verdebg     = #001220

// Fonts
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600')
titillium($size, $style = normal)
    font-size $size + 0px
    font-family 'Titillium Web', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 600
    if $style == light
        font-weight 300
    if $style == thin
        font-weight 200