header
    width 100%
    height 110px
    background $verdebg
    .center
        clearfix()
        height 100%
        position static
    h1
        display block
        float left
        margin 0
        padding 0
        width 185px
        height 100%
        a
            width 100%
            height 100%
            display block
            background $img('logo.png') no-repeat center 90%
            text-indent -9999px
    #nav-desktop
        padding 0
        margin 0
        margin-left 12%
        float left
        list-style-type none
        height 100%
        +below($tablet)
            display none
        > li
            float left
            height 100%
            border-left 1px solid rgba($verdeescuro, .6)
            &:last-child
                border-right 1px solid rgba($verdeescuro, .6)
            &.has-sub
                > a
                    position relative
                    &:after
                        content ""
                        display inline-block
                        position relative
                        width 5px
                        height 5px
                        background $img('seta-menu.png') no-repeat center
                        margin-left 7px
                        top -3px
                &:hover
                &.active
                    background $verdeescuro
                    > a
                        color #fff
                        &:after
                            background $img('seta-menu2.png') no-repeat center
                &:hover
                    > ul
                        display block
            &:hover
            &.active
                > a
                    color lighten($verdeclaro, 10)
            > a
                display block
                height 100%
                line-height 110px
                padding 0 24px
                titillium 13
                text-transform uppercase
                text-decoration none
                color #fff
            > ul
                display none
                position absolute
                z-index 201
                top 110px
                left 0
                width 100%
                min-width 1200px
                padding 25px 0
                background $verdeescuro
                list-style-type none
                text-align center
                li
                    display inline-block
                    height 100%
                    width auto
                    text-align center
                    padding 0 30px 0 0
                    a
                        display block
                        color #fff
                        titillium 13 light
                        text-decoration none
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        background $verdeclaro
        padding 25px 0
        text-align center
        z-index 9999
        a
            display block
            color #fff
            titillium 14 bold
            text-transform uppercase
            text-decoration none
            padding 8px 0
            &.active
                color $verdebg
        #busca-mobile
            display none
            width 100%
            +mobile()
                display block
            div
                form
                    height 25px
                    width 55%
                    margin 3% auto 0
                    position relative
                    input[type='text']
                        background $verdeescuro
                        width 88%
                        height 100%
                        outline 0
                        border 0
                        padding 5px
                        titillium 12
                        color #fff
                        float left
                        border-radius 4px 0 0 4px
                    input[type='submit']
                        width 12%
                        height 100%
                        background $img('busca.png') no-repeat center #ffffff
                        outline 0
                        border 0
                        text-indent -9999px
                        border-radius 0 4px 4px 0
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 6%
        .lines
            display block
            width 100%
            height 3px
            background lighten($verdeclaro, 10)
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 2px
                background lighten($verdeclaro, 10)
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #busca
        float right
        height 100%
        display table
        +mobile()
            display none
        div
            display table-cell
            vertical-align middle
            form
                height 25px
                width 226px
                position relative
                input[type='text']
                    background $verdeescuro
                    width 200px
                    height 100%
                    outline 0
                    border 0
                    padding 5px
                    titillium 12
                    color #fff
                    float left
                    margin-right 1px
                    border-radius 4px 0 0 4px
                input[type='submit']
                    width 25px
                    height 100%
                    background $img('busca.png') no-repeat center #ffffff
                    outline 0
                    border 0
                    text-indent -9999px
                    border-radius 0 4px 4px 0

.title
    background $img('pattern.png')
    padding 30px 0
    h2
        margin 0
        padding 0
        color $verdeclaro
        titillium 30 thin
        text-transform uppercase
        span
            color lighten($verdeclaro, 15)
        +mobile()
            font-size 24px

.main
    background $verdebg
    padding 55px 0
    +mobile()
        padding 35px 0
    &.not-found
        background $img('pattern.png')
        padding 20vh 0 30vh
        text-align center
        h1
            display inline-block
            titillium 14 bold
            color $verdeclaro
            text-transform uppercase
            border 2px solid $verdeclaro
            padding 15px
        +below($mobile)
            padding 10vh 0 20vh
    &.busca
        clearfix()
        p
            color $verdeclaro
            titillium 15
            margin 0
            span
                color #fff
                border-bottom 1px solid $verdeescuro
        .busca-categoria
            width 45%
            float left
            margin-right 10%
            &:last-child
                margin-right 0
            +mobile()
                width 100%
                margin-right 0
                &:last-child
                    margin-top 9%
            h3
                color $verdeclaro
                titillium 20 bold
                text-transform uppercase
                margin 0 0 20px
            a
                titillium 15 bold
                text-transform uppercase
                color #fff
                display block
                text-decoration none
                border-bottom 1px solid #33414d
                padding-bottom 12px
                padding-left 3px
                margin-bottom 12px
                &:hover
                    color $verdeclaro
                &:last-child
                    margin-bottom 0

footer
    width 100%
    background $verdebg
    box-shadow 0 -4px 10px rgba(#000, .5)
    .footer-destaques
        border-top 1px solid rgba($verdeclaro, .2)
        padding 60px 0
        +below($tablet)
            padding 30px 0
        +mobile()
            padding 5% 0
        clearfix()
        h3
            text-align center
            color $verdeclaro
            titillium 30 thin
            text-transform uppercase
            margin 0 0 15px
            padding 0
            +mobile()
                font-size 22px
        .destaques-thumbs
            clearfix()
        a.destaque
            display block
            position relative
            float left
            width 16.6666%
            border-top 1px solid $verdeescuro
            border-bottom 1px solid $verdeescuro
            border-left 1px solid $verdeescuro
            overflow hidden
            +mobile()
                width 33.3333%
            &:last-child
                border-right 1px solid $verdeescuro
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                opacity 0
                background rgba($verdeescuro, .8)
                top 0
                left 0
                width 100%
                height 100%
                padding 15px
                titillium 15
                color #fff
                div
                    display table
                    width 100%
                    height 100%
                    span
                        display table-cell
                        vertical-align middle
            &:hover .overlay
                opacity 1
        .chamadas
            margin-top 45px
            +below($tablet)
                margin-top 25px
            clearfix()
            a
                display block
                text-decoration none
                float left
                img
                    display block
                &:last-child
                    float right
                +below($tablet)
                    width 49%
                    img
                        width 100%
                        height auto
                +mobile()
                    width 100%
                    margin-bottom 10px
    .footer-links
        background #010B14
        border-top 1px solid rgba($verdeclaro, .2)
        border-bottom 40px solid $verdeclaro
        +tablet()
            border-bottom 30px solid $verdeclaro
        +mobile()
            border-bottom 20px solid $verdeclaro
        color $verdeclaro
        titillium 13
        padding 40px 0
        clearfix()
        p
            text-transform uppercase
            margin 0 0 5px
        .categorias
            float left
            width 220px
            margin-right 45px
            +below($tablet)
                width 50%
                margin-right 5%
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 30px
            a
                width 110px
                float left
                color $verdeclaro
                text-decoration none
                &:hover
                    color #fff
                +tablet()
                    width 33.333%
                +mobile()
                    width 50%
        .newsletter
            float left
            +below($tablet)
                width 45%
            +mobile()
                width 100%
                margin-bottom 0
            form
                ::-webkit-input-placeholder
                   color $verdebg
                :-moz-placeholder
                   color $verdebg
                ::-moz-placeholder
                   color $verdebg
                :-ms-input-placeholder
                   color: $verdebg
                height 25px
                position relative
                clearfix()
                #newsletter_nome,
                #newsletter_email
                    width 150px
                    height 100%
                    background $verdeescuro
                    outline 0
                    border 0
                    color #fff
                    titillium 12
                    padding 0 5px
                    float left
                    border-right 1px solid #010B14
                    +below($tablet)
                        width 45%
                #newsletter_nome
                    border-radius 4px 0 0 4px
                input[type='submit']
                    float left
                    height 100%
                    border 0
                    outline 0
                    border-radius 0 4px 4px 0
                    background #fff
                    +below($tablet)
                        width 10%
                .response-wrapper
                    display block
                    float left
                    clear both
                    width 100%
                    margin-top 5px
                    color #fff
                    height 10px
                    text-align center
                    titillium 12
                    span
                        border-bottom 1px solid $verdeclaro
        .redes-sociais
            float left
            margin-left 70px
            +below($tablet)
                margin-left 0
                margin-top 30px
            +mobile()
                margin-top 20px
            clearfix()
            a
                display block
                float left
                width 22px
                height 22px
                background-position center
                background-repeat none
                text-indent -9999px
                margin-top 6px
                margin-right 10px
                &.facebook
                    background-image $img('facebook1.png')
                    &:hover
                        background-image $img('facebook2.png')
                &.googleplus
                    background-image $img('googleplus1.png')
                    &:hover
                        background-image $img('googleplus2.png')
                &.instagram
                    background-image $img('instagram1.png')
                    &:hover
                        background-image $img('instagram2.png')
                &.twitter
                    background-image $img('twitter1.png')
                    &:hover
                        background-image $img('twitter2.png')
                &.youtube
                    background-image $img('youtube1.png')
                    &:hover
                        background-image $img('youtube2.png')
        .telefone
            float right
            +below($tablet)
                margin-top 30px
            +mobile()
                clear both
                float left
                margin-top 25px
                width 100%
                text-align center
            span
                titillium 33
                line-height 1
        .copyright
            width 100%
            float left
            margin-top 45px
            +mobile()
                margin-top 25px
            p
                margin 0
                padding 0
                float left
                display inline-block
                text-transform none
                +below($tablet)
                    float none !important
                    width 100%
                    text-align center
                &:last-child
                    float right
                a
                    color $verdeclaro
                    text-decoration none
                    &:hover
                        color #fff