.contato
    padding-bottom 0
    clearfix()
    .info
        width 37%
        float left
        +mobile()
            width 100%
            float none
            text-align center
            margin-bottom 35px
        p
            margin 0
            color #fff
            titillium 18 bold
            text-transform uppercase
            &.telefone
                titillium 39
                margin-bottom 20px
                line-height 1
                +tablet()
                    font-size 35px
                +mobile()
                    font-size 32px
        a
            display block
            color #fff
            text-decoration none
            &:hover
                color $verdeclaro
            &.bamboole
                margin-top 30px
                +below($tablet)
                    width 100%
                    img
                        width 100%
                        max-width 395px
                        height auto
    form
        width 50%
        float right
        +mobile()
            width 100%
            float none
        ::-webkit-input-placeholder
           color $verdebg
        :-moz-placeholder
           color $verdebg
        ::-moz-placeholder
           color $verdebg
        :-ms-input-placeholder
           color: $verdebg
        input
        textarea
            width 100%
            background #fff
            border 0
            outline 0
            display block
            margin-bottom 5px
            height 40px
            titillium 14
            color $verdebg
            padding 0 15px
            border-radius 4px
            &[type='submit']
                background $verdeescuro
                color #fff
                text-align center
                padding 8px
                titillium 14 light
                text-transform uppercase
                border-top 1px solid rgba(#fff, .2)
        textarea
            height 125px
            padding 15px
            margin-bottom 10px
            resize none
        .response-wrapper
            display block
            float left
            clear both
            width 100%
            margin-top 5px
            color #fff
            height 10px
            text-align center
            titillium 13
            span
                border-bottom 1px solid $verdeclaro
    .mapa
        width 100%
        float left
        height 350px
        margin-top 50px
        iframe
            width 100%
            height 100%
            display block
        +tablet()
            height 300px
        +mobile()
            height 200px