.downloads
    clearfix()
    .downloads-categorias
        width 15%
        float left
        +tablet()
            width 20%
        +mobile()
            width 100%
            float none
            margin-bottom 7%
        a
            display block
            padding 8px 18px
            border-bottom 1px solid #33414d
            color #fff
            text-decoration none
            titillium 13
            text-transform uppercase
            &:hover
                color $verdeclaro
            &:first-child
                border-top 1px solid #33414d
            &.active
                background $verdeescuro
                &:hover
                    color #fff
            +mobile()
                display inline-block
                border 1px solid #33414d
    .downloads-list
        width 80%
        float right
        +tablet()
            width 75%
        +mobile()
            width 100%
            float none
        .download
            clearfix()
            margin-bottom 45px
            min-height 115px
            &:last-child
                margin-bottom 0
            h3
                titillium 20 bold
                color $verdeclaro
                margin 0 0 10px
            p
                margin 0
                titillium 16 light
                line-height 1.6
                color #fff
            .descricao
                width 75%
                float left
                +mobile()
                    width 68%
            a
                width 20%
                float right
                height 115px
                text-align center
                padding 10px
                color #fff
                titillium 18 light
                text-decoration none
                background $img('download.png') no-repeat center 80%
                &:hover
                    background-color $verdeescuro
                +below($tablet)
                    font-size 14px
                    background-color $verdeescuro
                +mobile()
                    font-size 12px
                    background-size 50px
                    height 100px
                    width 25%