.banners-wrapper
    width 100%
    overflow hidden
    position relative
    background $img('pattern.png')
    .center
        height 100%
    .banner
        display block
        width 100%
        height auto
        img
            display block
            width 100%
            height auto
    .cycle-pager
        position absolute
        bottom 20px
        right 20px
        z-index 102
        a
            float left
            width 8px
            height 8px
            background $verdeescuro
            text-indent -9999px
            border-radius 2px
            margin-left 8px
            &.cycle-pager-active
                background #fff