.produtos
    clearfix()
    .produtos-categorias
        width 15%
        float left
        +tablet()
            width 20%
        +mobile()
            width 100%
            float none
            margin-bottom 7%
        a
            display block
            padding 8px 18px
            border-bottom 1px solid #33414d
            color #fff
            text-decoration none
            titillium 13
            text-transform uppercase
            &:hover
                color $verdeclaro
            &:first-child
                border-top 1px solid #33414d
            &.active
                background $verdeescuro
                &:hover
                    color #fff
            +mobile()
                display inline-block
                margin-bottom 4px
                border 1px solid #33414d
    .produtos-main
        width 80%
        float right
        +tablet()
            width 75%
        +mobile()
            width 100%
            float none
        h2
            color $verdeclaro
            margin 0 0 5px
            titillium 20 bold
            text-transform uppercase
        form
            width 100%
            float left
            margin-top 25px
            ::-webkit-input-placeholder
               color $verdebg
            :-moz-placeholder
               color $verdebg
            ::-moz-placeholder
               color $verdebg
            :-ms-input-placeholder
               color: $verdebg
            p
                color $verdeclaro
                titillium 20 light
                margin 0 0 10px
            input
            textarea
                width 100%
                background #fff
                border 0
                outline 0
                display block
                margin-bottom 5px
                height 40px
                titillium 14
                color $verdebg
                padding 0 15px
                border-radius 4px
                &[type='submit']
                    background $verdeescuro
                    color #fff
                    text-align center
                    padding 8px
                    titillium 14 light
                    text-transform uppercase
                    border-top 1px solid rgba(#fff, .2)
            textarea
                height 125px
                padding 15px
                margin-bottom 10px
                resize none
            .response-wrapper
                display block
                float left
                clear both
                width 100%
                margin-top 5px
                color #fff
                height 10px
                text-align center
                titillium 13
                span
                    border-bottom 1px solid $verdeclaro
        &.produtos-list
            .produtos-thumbs
                clearfix()
                margin-top 15px
                display flex
                flex-wrap wrap
                a
                    display inline-block
                    vertical-align top
                    width 31.6%
                    float left
                    margin-right 2.3%
                    margin-bottom 20px
                    background #fff
                    text-decoration none
                    &:nth-child(3n)
                        margin-right 0
                    +tablet()
                        margin-bottom 14px
                    +mobile()
                        margin-bottom 8px
                        width 48.85%
                        &:nth-child(3n)
                            margin-right 2.3%
                        &:nth-child(2n)
                            margin-right 0
                    img
                        width 100%
                        height auto
                        display block
                    span
                        display block
                        padding 7.5%
                        titillium 14
                        line-height 1.3
                        color #6E6E6E
                    &:hover span
                        color $verdeclaro
            .produtos-paginacao
                width 100%
                float left
                margin-top 20px
                text-align center
                ul
                    list-style-type none
                    li
                        display inline-block
                        span
                            display none
                            cursor default
                        &.active span
                        a
                            display inline-block
                            titillium 12
                            padding 2px 7px
                            margin 0 2px
                            text-decoration none
                        &.active span
                            background $verdeclaro
                            color #fff
                        a
                            background #fff
                            color $verdeclaro
                            &:hover
                                background $verdeescuro
                                color lighten($verdeclaro, 15)
                        a[rel='next']
                        a[rel='prev']
                            display none
        &.produtos-show
            h1
                color #fff
                margin 0 0 30px
                titillium 24 thin
            .produtos-imagens
                height 465px
                overflow hidden
                background #fff
                img
                    display block
                +below($tablet)
                    width 100%
                    height auto
                    img
                        width 100%
                        height auto
                .cycle-pager
                    position absolute
                    bottom 20px
                    right 20px
                    z-index 102
                    a
                        float left
                        width 8px
                        height 8px
                        background $verdeescuro
                        text-indent -9999px
                        border-radius 2px
                        margin-left 8px
                        &.cycle-pager-active
                            background #BABABA
            .produtos-descricao
                margin-top 30px
                color #fff
                titillium 14 light
                h2
                    color $verdeclaro
                    titillium 22 light
                    text-transform none
                    margin 1.5em 0 0
                p
                    margin .5em 0
                ul
                    padding 0
                    list-style-type none
                    li
                        margin .5em 0
                        padding-left 12px
                        position relative
                        &:before
                            content "·"
                            position absolute
                            top 0
                            left 0
            .produtos-downloads
                h2
                    color $verdeclaro
                    titillium 22 light
                    text-transform none
                    margin 2em 0 1em
                .download
                    clearfix()
                    margin-bottom 45px
                    min-height 115px
                    &:last-child
                        margin-bottom 0
                    h3
                        titillium 20 bold
                        color $verdeclaro
                        margin 0 0 10px
                    p
                        margin 0
                        titillium 16 light
                        line-height 1.6
                        color #fff
                    .descricao
                        width 75%
                        float left
                        +mobile()
                            width 68%
                    a
                        width 20%
                        float right
                        height 115px
                        text-align center
                        padding 10px
                        color #fff
                        titillium 18 light
                        text-decoration none
                        background $img('download.png') no-repeat center 80%
                        &:hover
                            background-color $verdeescuro
                        +below($tablet)
                            font-size 14px
                            background-color $verdeescuro
                        +mobile()
                            background-size 50px
                            height 100px
                            width 25%
                            font-size 12px
            form
                width 58%
                +tablet()
                    width 75%
                +mobile()
                    width 100%
        &.produtos-novo
            clearfix()
            .produtos-novo-titulos
                clearfix()
                margin-bottom 40px
                > div
                    width 60%
                    float left
                    +mobile()
                        width 100%
                    h1
                        color #fff
                        margin .2em 0 .8em
                        line-height 1.1
                        p
                            margin 0
                            titillium 50 thin
                    .subtitulo
                        color $verdeclaro
                        titillium 20 light
                        p
                            margin .7em 0
                img
                    width 33.6%
                    float right
                    +mobile()
                        width 50%
                        margin-top 5%
                        float left
            .produtos-video
                margin-bottom 45px
            .produtos-novo-left
                width 58%
                float left
                +mobile()
                    width 100%
                .produtos-novo-especificacoes
                    h3
                        color #fff
                        titillium 40 thin
                        margin 0 0 15px
                    p
                        color $verdeclaro
                        margin .5em 0
                        titillium 14 light
                    ul
                        color $verdeclaro
                        padding 0
                        list-style-type none
                        li
                            titillium 14 light
                            margin .5em 0
                            padding-left 12px
                            position relative
                            &:before
                                content "·"
                                position absolute
                                top 0
                                left 0
            .produtos-novo-right
                width 35%
                float right
                margin-bottom 5%
                +mobile()
                    width 100%
                clearfix()
                .produtos-novo-manual
                    clearfix()
                    width 48%
                    display block
                    float left
                    height 145px
                    text-align center
                    padding 10px
                    color #fff
                    titillium 18 light
                    line-height 1.4
                    text-decoration none
                    background $img('download.png') no-repeat center 85% $verdeescuro
                    +below($tablet)
                        font-size 15px
                        height auto
                        padding-bottom 80px
                .produtos-novo-imagens
                    width 100%
                    float left
                    margin-top 4%
                    a
                        display block
                        width 48%
                        float left
                        margin-right 4%
                        margin-bottom 4%
                        &:nth-child(2n)
                            margin-right 0
                        img
                            width 100%
                            height auto
                            display block