.servicos
    clearfix()
    a
        display block
        width 45%
        margin-right 10%
        margin-bottom 7.5%
        float left
        color rgba($verdeclaro, .8)
        text-decoration none
        &:nth-child(2n)
            margin-right 0
        &:nth-last-child(-n+2)
            margin-bottom 3%
        +mobile()
            width 100%
            float none
            margin-right 0
            margin-bottom 12% !important
            &:nth-last-child(-n+2)
                margin-bottom 0
        h3
            color $verdeclaro
            text-align center
            titillium 20 bold
            text-transform uppercase
            margin 0 0 5px
        h4
            text-align center
            titillium 18 light
            margin 0 0 10px
        p
            titillium 16 light
            margin 0 0 25px
            line-height 1.6
        span
            display block
            width 100%
            background $verdeescuro
            color #fff
            text-align center
            padding 8px
            titillium 14 light
            text-transform uppercase
            border-radius 4px
            border-top 1px solid rgba(#fff, .2)
        &:hover
            p
                color #fff